<% obra = @unidad.new_record? ? @obra : @unidad.obra %>
<%= form_for [obra, @unidad] do |f| %>
  <%= f.error_messages %>
  <% if @unidad.errors.any? %>
    <% @editar = true %>
  <% end %>

  <fieldset <%= editar_o_bloquear %>>

    <div class="row">

      <div class="field form-group col-md-2">
        <%= f.label :obra_id %>
        <%= f.collection_select(:obra_id, Obra.all, :id, :nombre, {
            prompt: "-Seleccione Obra-", selected: obra.id }, { class: "form-control" } ) %>
      </div>

      <div class="field form-group col-md-2">
        <%= f.label :precio_venta %>
        <%= f.text_field :precio_venta, class:"form-control" %>
      </div>

      <div class="field form-group col-md-2">
        <%= f.label :tipo %>
        <%= f.text_field :tipo, class:"form-control" %>
      </div>


    </div>

  </fieldset>

<% end %>
