<% obra = @contrato.obra.nil? ? @obra : @contrato.obra %>
<%= form_for([obra, @contrato]) do |f| %>
  <% if @contrato.errors.any? %>
  <% @editar = true %>
  <% end %>
  <%= f.error_messages %>

  <fieldset <%= editar_o_bloquear %>>

    <input type="hidden" name="obra_id" value="<%= obra.id %>" />

    <div class="row">
      <div class="field form-group col-md-9">
        <%= f.hidden_field :tercero_id %>
        <%= f.label :tercero %><br>
        <%= autocomplete_field_tag 'contrato_de_venta[tercero_attributes[nombre]]', @contrato.tercero.try(:nombre), autocomplete_tercero_nombre_contratos_de_venta_path, { class: "form-control" } %>
      </div>
      <div class="field form-group col-md-3">
        <%= f.label '', 'CUIT' %><br>
        <%= autocomplete_field_tag 'contrato_de_venta[tercero_attributes[cuit]]', @contrato.tercero.try(:cuit), autocomplete_tercero_cuit_contratos_de_venta_path, { class: "form-control" } %>
      </div>
    </div>

    <div class="alert alert-info" id="contrato_de_venta_tercero_msg" style="display:none">

      <span></span>
      <button id="contrato_de_venta_tercero_clear" class="btn btn-sm btn-primary pull-right">Limpiar Selección</button>
    </div>

    <h3>Unidades Funcionales</h3>
    <div class="row">

      <div class="col-md-6">
      <table class="table table-hover table-condensed">
        <thead>
          <tr>
            <th>Unidad</th>
            <th colspan="2">Precio de venta</th>
            <th></th>
          </tr>
        </thead>
        <tbody id="contrato_de_venta_unidades_funcionales_table">
        </tbody>
        <tfoot>
          <tr>
            <td>Total</td>
            <td colspan="3"><input type="text" class="form-control" data-role="money" readonly id="contrato_de_venta_total" /></td>
          </tr>
        </tfoot>
      </table>
      </div>

      <div class="field form-group col-md-6">
        <div class="col-sm-9">
        <%= f.collection_select(:unidades_funcionales, @obra.unidades_funcionales_disponibles, :id, :id, { prompt: "-Seleccione Unidad-" }, { class: "form-control" } ) %>
        </div>
        <div class="com-sm-3">
          <a id="contrato_de_venta_unidad_funcional_agregar" class="btn btn-sm btn-primary pull-right">
            <span class="glyphicon glyphicon-plus"></span>
            Agregar
          </a>
        </div>
      </div>

    </div>

    <h3>Plan de Pagos</h3>

    <div class="row">

      <div class="col-md-6">

          <div class="field form-group"> 
            <label>Pago Inicial</label>
            <input type="text" name="pago_inicial" class="form-control" data-role="money" id="contrato_de_venta_pago_inicial" />
          </div>

          <div class="field form-group"> 
          <table class="table table-hover table-condensed">
            <thead>
              <tr>
                <th>Fecha</th>
                <th>Monto</th>
                <th></th>
              </tr>
            </thead>
            <tbody id="contrato_de_venta_cuotas_table">
            </tbody>
          </table>
          </div>

      </div>

      <div class="col-md-6">

        <div class="row">
          <h4 class="col-md-12">Generar Cuotas</h4>
          <div class="field form-group col-sm-6">
            <label>Cantidad de Cuotas</label><br>
            <input type="text" class="form-control" id="contrato_de_venta_cantidad_cuotas" />
          </div>
          <div class="field form-group col-sm-6">
            <label>Primera Cuota</label><br>
            <div class="input-group date">
              <input type="text" class="form-control" id="contrato_de_venta_fecha_primera_cuota" name="primera_cuota" />
              <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
            </div>
          </div>
          <div class="field form-group col-sm-6">
            <label>Periodicidad</label><br>
            <select id="contrato_de_venta_periodicidad_cuotas">
              <option value="1">Mensual</option>
              <option value="2">Bimensual</option>
              <option value="3">Trimestral</option>
            </select>
          </div>
          <div class="field form-group col-sm-6"><label> </label><br>
            <a href="#" class="btn btn-primary pull-right" id="contrato_de_venta_generar_cuotas"><i class="glyphicon glyphicon-cog"></i> Generar Cuotas</a>
          </div>
        </div>

        <div class="row">
          <h4 class="col-md-12">Agregar Cuota</h4>
          <div class="field form-group col-sm-6">
            <label>Fecha</label><br>
            <div class="input-group date">
              <input type="text" class="form-control" id="contrato_de_venta_fecha_cuota" name="fecha_cuota" />
              <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
            </div>
          </div>
          <div class="field form-group col-sm-6">
            <label>Monto</label><br>
            <input type="text" class="form-control" data-role="money" id="contrato_de_venta_monto_cuota" />
          </div>
          <div class="field form-group col-sm-12">
            <a href="#" class="btn btn-primary pull-right" id="contrato_de_venta_agregar_cuota"><i class="glyphicon glyphicon-plus"></i> Agregar</a>
          </div>
        </div>

      </div>

    </div>
  </fieldset>

<% end %>
