
<table class="table table-hover table-condensed">
  <thead>
    <tr>
      <th></th>
      <th>Fecha <%= sort_links :fecha %></th>
      <th>Cliente</th>
      <th class="text-right">Cuotas</th>
      <th class="text-right">Cuotas pendientes</th>
      <th class="text-right">Cuotas por cobrar</th>
      <th class="text-right">Cuotas cobradas</th>
      <th class="text-right">Monto Total</th>
      <th class="text-right">Cobrado</th>
      <th>Progreso</th>
    </tr>
  </thead>

  <tbody>
    <% contratos.each do |contrato| %>
      <tr>
        <td><%= link_to raw('<i class="glyphicon glyphicon-eye-open" title="Ver Contrato"></i>'), [contrato.obra, contrato] %></td>

        <% @campos = [
            formatted_date(contrato.fecha),
            contrato.tercero.nombre
          ]

          # no vamos a dividir por cero...
          if contrato.cuotas.cobradas.count > 0
            cuotas_cobradas_total = contrato.cuotas.cobradas.collect { |c| c.factura.importe_total }.sum
            porcentaje_cobrado = contrato.monto_total / cuotas_cobradas_total
          else
            cuotas_cobradas_total = Money.new(0, contrato.cuotas.first.monto_original_moneda)
            porcentaje_cobrado = 0
          end

          @campos_numeros = [
            contrato.cuotas.count,
            contrato.cuotas.pendientes.count,
            contrato.cuotas.emitidas.count - contrato.cuotas.cobradas.count,
            contrato.cuotas.cobradas.count,
            formatted_number(contrato.monto_total, contrato.monto_total_moneda),
            formatted_number(cuotas_cobradas_total, cuotas_cobradas_total.currency),
          ] 
        %>
        <% @campos.each do |campo| %>
          <td class="ir-a" data-uri="<%= obra_contrato_de_venta_path(contrato.obra,contrato) %>"><%= campo %></td>
        <% end %>
        <% @campos_numeros.each do |campo| %>
          <td class="ir-a text-right" data-uri="<%=  obra_contrato_de_venta_path(contrato.obra,contrato) %>"><%= campo %></td>
        <% end %>
        <td>
          <%= render 'layouts/progress', value: porcentaje_cobrado %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


