<%= form_for(@factura) do |f| %>
  <% if @factura.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <strong>No se guardo la Factura. </strong>Debe corregir <%= pluralize(@factura.errors.count, "error") %>
      <ul>
      <% @factura.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset <%= editar_o_bloquear %> >

    <div class="row">
      <div class="field form-group col-md-2">
        <%= f.label :tipo %><br>
        <%= f.text_field :tipo, class: "form-control" %>
      </div>
      <div class="field form-group col-md-3">
        <%= f.label :numero %><br>
        <%= f.text_field :numero, class: "form-control" %>
      </div>
      <div class="field form-group col-md-3 col-md-offset-1">
        <%= f.label :fecha %><br>
        <div class="input-group date<%= editar_o_bloquear %>">
          <%= f.text_field :fecha, { class: "form-control", value:formatted_date(@factura.fecha) } %>
          <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
        </div>
      </div>
      <div class="field form-group col-md-3">
        <%= f.label :fecha_pago %><br>
        <div class="input-group date<%= editar_o_bloquear %>">
          <%= f.text_field :fecha_pago, { class: "form-control", value:formatted_date(@factura.fecha_pago) } %>
          <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="field form-group col-md-8">
        <%= f.label :tercero %><br>
        <%= f.collection_select(:tercero_id, Tercero.all, :id, :nombre, { prompt: "--Seleccione Tercero--" }, { class: "form-control" } ) %>
      </div>
      <div class="field form-group col-md-4">
        <%= f.label '', 'CUIT' %><br>
        <%= f.collection_select(:tercero_id, Tercero.all, :id, :cuit, { prompt: "--Seleccione CUIT--" }, { class: "form-control" } ) %>
      </div>
    </div>

    <div class="row">
      <div class="field form-group col-md-12">
        <%= f.label :descripcion %><br>
        <%= f.text_area :descripcion, class: "form-control" %>
      </div>
    </div>

    <div class="row">
      <div class="field form-group col-md-2 col-md-offset-2">
        <%= render 'layouts/selector_moneda', moneda: moneda_factura %> 
      </div>
      <div class="field form-group col-md-3">
        <%= f.label :importe_neto %><br>
        <%= f.text_field :importe_neto, { class: "form-control calcula_total text-right", data: {role: 'money', a_sep:'.', a_dec:',' } } %>
      </div>
      <div class="field form-group col-md-2 ">
        <%= f.label :iva %><br>
        <%= f.text_field :iva, { class: "form-control calcula_total text-right", data: {role: 'money', a_sep:'.', a_dec:',' } } %>
      </div>
      <div class="field form-group col-md-3">
        <%= f.label :importe_total %><br>
        <%= f.text_field :importe_total, { class: "form-control text-right", disabled: "true", data: {role: 'money', a_sep:'.', a_dec:',' } } %>
      </div>
    </div>

    <div class="row">
      <br>
    </div>

    <%# campo necesario para crear/editar facturas %>
    <%= f.hidden_field :situacion, value: determina_situacion %>
    <%= f.hidden_field :importe_neto_moneda, class: "actualizar_moneda" %>
    <%= f.hidden_field :iva_moneda, class: "actualizar_moneda" %>
    <%= f.hidden_field :importe_total_moneda, class: "actualizar_moneda" %>

  </fieldset>

<% end %>
