<%= form_for(@factura) do |f| %>
  <% if @factura.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <strong>No se guardo la Factura. </strong>Debe corregir <%= pluralize(@factura.errors.count, "error") %>
      <ul>
      <% @factura.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset <%= editar_o_bloquear %> >

    <div class="row">
      <div class="field form-group col-md-2">
        <%= f.label :tipo %><br>
        <%= f.text_field :tipo, class: "form-control" %>
      </div>
      <div class="field form-group col-md-3">
        <%= f.label :numero %><br>
        <%= f.text_field :numero, class: "form-control" %>
      </div>
      <div class="field form-group col-md-3 col-md-offset-1">
        <%= f.label :fecha %><br>
        <div class="input-group date">
          <%= f.text_field :fecha, class: "form-control" %>
          <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
        </div>
      </div>
      <div class="field form-group col-md-3">
        <%= f.label :fecha_pago %><br>
        <div class="input-group date">
          <%= f.text_field :fecha_pago, class: "form-control" %>
          <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="field form-group col-md-8">
        <%= f.label :tercero %><br>
        <%= collection_select(:factura, :tercero_id, Tercero.all, :id, :nombre, class: "form-control") %>
      </div>
      <div class="field form-group col-md-4">
        <%# f.label :cuit %><br>
        <%# f.text_field :cuit, class: "form-control" %>
      </div>
    </div>

    <div class="row">
      <div class="field form-group col-md-12">
        <%= f.label :descripcion %><br>
        <%= f.text_area :descripcion, class: "form-control" %>
      </div>
    </div>

    <div class="row">
      <div class="field form-group col-md-3 col-md-offset-4">
        <%= f.label :importe_neto %><br>
        <%= f.text_field :importe_neto, class: "form-control" %>
      </div>
      <div class="field form-group col-md-2 ">
        <%= f.label :iva %><br>
        <%= f.text_field :iva, class: "form-control" %>
      </div>
      <div class="field form-group col-md-3">
        <%= f.label :importe_total %><br>
        <%= f.text_field :importe_total, class: "form-control", disabled: "true" %>
      </div>
    </div>

    <div class="row">
      <br>
    </div>

    <%# campo necesario para crear/editar facturas %>
    <%= f.hidden_field :situacion, value: determina_situacion %>

  </fieldset>

<% end %>
