<%= form_for(@factura) do |f| %>
  <% if @factura.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@factura.errors.count, "error") %>. No se guardo la factura por:</h2>

      <ul>
      <% @factura.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
<%# (des)habilita la edicion del formulario dependiendo del valor de @editar %>
<fieldset <% if not @editar %> disabled <% end %> >

  <div class="row">
<<<<<<< HEAD
    <div class="field form-group col-md-2">
      <%= f.label :tipo %><br>
      <%= f.text_field :tipo, class: "form-control" %>
    </div>
    <div class="field form-group col-md-3">
      <%= f.label :numero %><br>
      <%= f.text_field :numero, class: "form-control" %>
    </div>
    <div class="field form-group col-md-3 col-md-offset-1">
=======
    <div class="field form-group col-md-1">
      <%= f.label :situacion %><br>
      <%= f.text_field :situacion, class: "form-control" %>
    </div>
     <div class="field form-group col-md-1">
      <%= f.label :tipo %><br>
      <%= f.text_field :tipo, class: "form-control" %>
    </div>
    <div class="field form-group col-md-2">
      <%= f.label :numero %><br>
      <%= f.text_field :numero, class: "form-control" %>
    </div>
    <div class="field form-group col-md-2">
>>>>>>> 2733efd5b0038449aa4b8d59f57c28e39cf60d71
      <%= f.label :fecha %><br>
      <div class="input-group date">
        <%= f.text_field :fecha, class: "form-control" %>
        <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
      </div>
    </div>
<<<<<<< HEAD
    <div class="field form-group col-md-3">
=======
    <div class="field form-group col-md-2">
>>>>>>> 2733efd5b0038449aa4b8d59f57c28e39cf60d71
      <%= f.label :fecha_pago %><br>
      <div class="input-group date">
        <%= f.text_field :fecha_pago, class: "form-control" %>
        <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
      </div>
    </div>
  </div>

  <div class="row">
<<<<<<< HEAD
    <div class="field form-group col-md-8">
      <%= f.label :nombre %><br>
      <%= f.text_field :nombre, class: "form-control" %>
    </div>
    <div class="field form-group col-md-4">
=======
    <div class="field form-group col-md-6">
      <%= f.label :nombre %><br>
      <%= f.text_field :nombre, class: "form-control" %>
    </div>
    <div class="field form-group col-md-2">
>>>>>>> 2733efd5b0038449aa4b8d59f57c28e39cf60d71
      <%= f.label :cuit %><br>
      <%= f.text_field :cuit, class: "form-control" %>
    </div>
  </div>

  <div class="row">
<<<<<<< HEAD
    <div class="field form-group col-md-12">
      <%= f.label :descripcion %><br>
      <%= f.text_area :descripcion, class: "form-control" %>
=======
    <div class="field form-group col-md-8">
      <%= f.label :domicilio %><br>
      <%= f.text_area :domicilio, class: "form-control" %>
>>>>>>> 2733efd5b0038449aa4b8d59f57c28e39cf60d71
    </div>
  </div>

  <div class="row">
<<<<<<< HEAD
    <%# lugar para el campo importe_neto que esta faltando %>
    <div class="field form-group col-md-3 col-md-offset-4">
      <%= f.label :iva %><br>
      <%= f.text_field :iva, class: "form-control" %>
    </div>
    <div class="field form-group col-md-2 ">
      <%= f.label :iva %><br>
      <%= f.text_field :iva, class: "form-control" %>
    </div>
    <div class="field form-group col-md-3">
      <%= f.label :importe_total %><br>
      <%= f.text_field :importe_total, class: "form-control" %>
=======
    <div class="field form-group col-md-8">
      <%= f.label :descripcion %><br>
      <%= f.text_area :descripcion, class: "form-control" %>
>>>>>>> 2733efd5b0038449aa4b8d59f57c28e39cf60d71
    </div>
  </div>

  <div class="row">
<<<<<<< HEAD
    <br>
  </div>

</fieldset> 

<%# script para el selector de fechas que muestra el calendario del mes
    inicialmente estaba app/assests/javascripts/ pero no funcionaba al navegar usando el menu 
    hacia la pagina y era necesario refrescarla para que funcione.
    aca funciona bien. 
    tendemos que copiar el script en cada formulario y revisar que las preferencias sean las mismas %>
<script type="text/javascript">
  $(document).ready(function(){
    $('.input-group.date').datepicker({format: "dd M yyyy", weekStart: 1, autoclose: true, language: "es", forceParse: false})
  })
</script>
=======
    <%# dejo lugar para el campo importe_neto que esta faltando %>
    <div class="field form-group col-md-2 col-md-offset-2">
      <%= f.label :iva %><br>
      <%= f.text_field :iva, class: "form-control" %>
    </div>
    <div class="field form-group col-md-2">
      <%= f.label :importe_total %><br>
      <%= f.text_field :importe_total, class: "form-control" %>
    </div>
    <div class="actions">
      <%= f.submit "Guardar", class: "btn btn-primary btn-lg submit" %>
    </div>
  </div>

  <%# script para el selector de fechas que muestra el calendario del mes
      inicialmente estaba app/assests/javascripts/ pero no funcionaba al navegar usando el menu 
      hacia la pagina y era necesario refrescarla para que funcione.
      aca funciona bien. 
      tendemos que copiar el script en cada formulario y revisar que las preferencias sean las mismas %>
  <script type="text/javascript">
    $(document).ready(function(){
      $('.input-group.date').datepicker({format: "dd/mm/yyyy", weekStart: 1, autoclose: true, language: "es", forceParse: false})
    })
  </script>
>>>>>>> 2733efd5b0038449aa4b8d59f57c28e39cf60d71

<% end %>
