<div class="row">
  <h2><%= titulo_lista_facturas %>
    <a type="button" class="btn btn-primary col-md-2 pull-right" href="<%= new_factura_path(situacion: @situacion ) %>">
      <span class="glyphicon glyphicon-plus"></span>
      Nueva Factura
    </a>
  </h2>
</div>

<table class="table table-hover table-condensed">
  <thead>
    <tr>
      <th></th>
      <th>Tipo</th>
      <th>Número</th>
      <th>Fecha</th>
      <th>Vence</th>
      <th>Tercero</th>
      <th>Descripción</th>
      <th>Importe total</th>
      <th>Saldo</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @facturas.each do |factura| %>
      <tr>
        <td><%= link_to raw('<i class="glyphicon glyphicon-eye-open" title="Ver factura"></i>'), [factura] %></td>
        
        <% @campos = [
            factura.tipo.first(1),
            factura.numero.first(10),
            formatted_date(factura.fecha),
            formatted_date(factura.fecha_pago),
            factura.tercero.nombre.first(20),
            factura.descripcion.first(40),
            factura.importe_total,
            factura.saldo
          ] 
        %>
        <% @campos.each do |campo| %>
          <td class="ir-a" data-uri="<%= factura_path(factura.id) %>"><%= campo %></td>
        <% end %>
        <td>
          <span class="pull-right">
            <%= link_to raw('<i class="glyphicon glyphicon-plus-sign" title="Nuevo recibo"></i>'), [:new, factura, :recibo] %>
          </span>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
