<div class="row">
  <h2>Listado de Facturas por <% if @situacion == "cobro" %>Cobrar<% else %>Pagar<% end %>
    <a type="button" class="btn btn-primary pull-right" href="<%= new_factura_path(situacion: @situacion ) %>">
      <span class="glyphicon glyphicon-plus"> Nueva Factura</span>
    </a>
  </h2>
</div>

<table class="table table-hover table-condensed">
  <thead>
    <tr>
      <th></th>
      <th>Tipo</th>
      <th>Número</th>
      <th>Fecha</th>
      <th>Vence</th>
      <th>Tercero</th>
      <th>Descripción</th>
      <th>Importe total</th>
      <th>Saldo</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @facturas.each do |factura| %>
      <tr>
        <td><%= link_to raw('<i class="glyphicon glyphicon-eye-open" title="Ver factura"></i>'), [factura] %></td>
        <td class="ir-a" id="<%= factura_path(factura.id) %>"><%= factura.tipo.first(1) %></td>
        <td class="ir-a" id="<%= factura_path(factura.id) %>"><%= factura.numero.first(10) %></td>
        <td class="ir-a" id="<%= factura_path(factura.id) %>"><%= formatted_date(factura.fecha) %></td>
        <td class="ir-a" id="<%= factura_path(factura.id) %>"><%= formatted_date(factura.fecha_pago) %></td>
        <td class="ir-a" id="<%= factura_path(factura.id) %>"><%= factura.tercero.nombre.first(20) %></td>
        <td class="ir-a" id="<%= factura_path(factura.id) %>"><%= factura.descripcion.first(40) %></td>
        <td class="ir-a" id="<%= factura_path(factura.id) %>"><%= factura.importe_total %></td>
        <td class="ir-a" id="<%= factura_path(factura.id) %>"><%= factura.saldo %></td>
        <td>
          <span class="pull-right">
            <%= link_to raw('<i class="glyphicon glyphicon-plus-sign" title="Nuevo recibo"></i>'), [:new, factura, :recibo] %>
          </span>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%# script: al hacer click en una celda de la tabla, redirige a la vista detallada
    no se puede aplicar al renglon entero porque sobreescribe al boton de agregar recibo
    el id de cada celda de la lista tiene que contener el path de destino %>

<script type="text/javascript">
    $(document).ready(function(){
        $('.ir-a').on('click', function() { window.location = this.id});
  });
</script>
