<div class="row">
  <h2><%= titulo_detalle_factura %></h2> 
  <% if !notice.nil? %>
    <div id="notice" class="alert alert-success"><%= notice %></div>
  <% end %>
</div>

<div class="row">
  <div class="col-md-8">
    <div class="row">
      <%= render 'form' %>
    </div>

    <div class="row">
      <a type="button" class="btn btn-success col-md-3" href="<%= facturas_por_tipo_path %>">
        <span class="glyphicon glyphicon-list-alt"></span>
        Listar Facturas
      </a>
      <a type="button" class="btn btn-warning col-md-3 col-md-offset-1" href="<%= edit_factura_path(@factura) %>">
        <span class="glyphicon glyphicon-edit"></span>
        Editar Factura
      </a>
    </div>
  </div>

  <div class="col-md-4">
    <div class="row">
      <div class="field form-group col-md-5 col-md-offset-1">
        <label>Total Recibos</label><br>
        <span class="form-control" disabled><%= formatted_number(@factura.importe_total - @factura.saldo) %></span>
      </div>
      <div class="field form-group col-md-5">
        <label>Saldo remanente</label><br>
        <span class="form-control" disabled><%= formatted_number(@factura.saldo) %></span>
      </div>
    </div>

    <div class="row col-md-offset-1">
      <h4>Detalle de Recibos</h4>
      <% @recibos = @factura.recibos %>
      <%# nested-layout: CSS adicional para el objeto a renderizar %>
      <% content_for :stylesheets do %>
        #lista-corta {display: none}
      <% end %>
      <%= render 'recibos/list' %>
    </div>

    <div class="row pull-right">
      <a type="button" class="btn btn-primary" href="<%= new_factura_recibo_path(@factura) %>">
        <span class="glyphicon glyphicon-plus"></span>
        Nuevo Recibo
      </a>
    </div>

  </div>
</div>

