<%# No se que es esto del 'notice' ya que aparece vacio en la vista actual
    Agrego un 'h1' para tener coherencia visual con la pantalla de creacion
    y de edicion de nuevas facturas y paso notice a small-h1 %>
    <h1>Detalle de Factura <small id="notice"><%= notice %></small></h1>

    
    <div class="row">
  <div class="col-md-8">

  <%= render 'form' %>

  </div>

  <div class="col-md-4">

    <table class="table table-hover table-condensed">
      <thead>
        <tr>
          <th>Fecha</th>
          <th>Importe</th>
          <th>Situación</th>
          <th>Factura</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @factura.recibos.each do |recibo| %>
          <tr>
            <td><%= formatted_date(recibo.fecha) %></td>
            <td><%= recibo.importe %></td>
            <td><%= recibo.situacion %></td>
            <td><%= recibo.factura %></td>
            <td><%= link_to 'Ver', [recibo.factura, recibo] %></td>
            <td><%= link_to 'Editar', [:edit, recibo.factura, recibo] %></td>
            <td><%= link_to 'Borrar', [recibo.factura, recibo], {method: :delete, data: { confirm: '¿Está seguro?' }} %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </div>
</div>

<a type="button" class="btn btn-success" href="<%= facturas_path %>">
  <span class="glyphicon glyphicon-list-alt"> Listado</span>
</a>
<a type="button" class="btn btn-warning" href="<%= edit_factura_path(@factura) %>">
  <span class="glyphicon glyphicon-edit"> Editar</span>
</a>
