<<<<<<< HEAD

<div class="row">
  <h2>Detalle de Factura por 
    <% if @factura.situacion == "pago" %>
      Pagar
    <% else %>
      Cobrar
    <% end %>
  </h2> 
  <% if !notice.nil? %>
    <div id="notice" class="alert alert-info"><%= notice %></div>
  <% end %>
</div>

<div class="row">
  <div class="col-md-8">
    <div class="row">
      <%= render 'form' %>
    </div>

    <div class="row">
      <a type="button" class="btn btn-success col-md-3" href="
        <% if @factura.situacion == "cobro" %>
          <%= cobros_facturas_path %>
        <% else %>
          <%= pagos_facturas_path %>
        <% end %>
        ">
        <span class="glyphicon glyphicon-list-alt"> Listar Facturas</span>
      </a>
      <a type="button" class="btn btn-warning col-md-3 col-md-offset-1" href="<%= edit_factura_path(@factura) %>">
        <span class="glyphicon glyphicon-edit"> Editar Factura</span>
      </a>

    </div>
  </div>

  <div class="col-md-4">
    <div class="row">
      <div class="field form-group col-md-5 col-md-offset-1">
        <label>Total Recibos</label><br>
        <span class="form-control" disabled ><%= @factura.importe_total - @factura.saldo %></span>
      </div>
      <div class="field form-group col-md-5">
        <label>Saldo remanente</label><br>
        <span class="form-control" disabled ><%= @factura.saldo %></span>
      </div>
    </div>

    <div class="row col-md-offset-1">
      <h4>Detalle de Recibos</h4>
      <% @recibos = @factura.recibos %>
      <%# nested-layout: CSS adicional para el objeto a renderizar %>
      <% content_for :stylesheets do %>
        #lista-corta {display: none}
      <% end %>
      <%= render 'recibos/list' %>
    </div>

    <div class="row pull-right">
      <a type="button" class="btn btn-primary" href="<%= new_factura_recibo_path(@factura) %>">
        <span class="glyphicon glyphicon-plus"> Nuevo Recibo</span>
      </a>
    </div>

  </div>
</div>

=======
<%# No se que es esto del 'notice' ya que aparece vacio en la vista actual
    Agrego un 'h1' para tener coherencia visual con la pantalla de creacion
    y de edicion de nuevas facturas y paso notice a small-h1 %>
    <h1>Detalle de Factura <small id="notice"><%= notice %></small></h1>

<div class="row">
  <div class="field form-group col-md-1">
    <label>Situación:</label><br>
    <span class="form-control"><%= @factura.situacion %></span>
  </div>
  <div class="field form-group col-md-1">
    <label>Tipo</label><br>
    <span class="form-control"><%= @factura.tipo %></span>
  </div>
  <div class="field form-group col-md-2">
    <label>Número:</label><br>
    <span class="form-control"><%= @factura.numero %></span>
  </div>
  <div class="field form-group col-md-2">
    <label>Fecha:</label><br>
    <span class="form-control"><%= formatted_date(@factura.fecha) %></span>
  </div>
  <div class="field form-group col-md-2">
    <label>Fecha pago:</label><br>
    <span class="form-control"><%= formatted_date(@factura.fecha_pago) %></span>
  </div>
</div>

<div class="row">
  <div class="field form-group col-md-6">
    <label>Nombre:</label><br>
    <span class="form-control"><%= @factura.nombre %></span>
  </div>
  <div class="field form-group col-md-2">
    <label>Cuit:</label><br>
    <span class="form-control"><%= @factura.cuit %></span>
  </div>
</div>

<div class="row">
  <div class="field form-group col-md-8">
    <label>Domicilio:</label><br>
    <span class="form-control"><%= @factura.domicilio %></span>
  </div>
</div>

<div class="row">
  <div class="field form-group col-md-8">
    <label>Descripción:</label><br>
    <span class="form-control"><%= @factura.descripcion %></span>
  </div>
</div>

<div class="row">
  <div class="field form-group col-md-2 col-md-offset-3">
    <label>Iva:</label><br>
    <span class="form-control"><%= @factura.iva %></span>
  </div>
  <div class="field form-group col-md-2 col-md-offset-1">
    <label>Importe total:</label><br>
    <span class="form-control"><%= @factura.importe_total %></span>
  </div>
</div>

<a type="button" class="btn btn-success" href="<%= facturas_path %>">
  <span class="glyphicon glyphicon-list-alt"> Listado</span>
</a>
<a type="button" class="btn btn-warning" href="<%= edit_factura_path(@factura) %>">
  <span class="glyphicon glyphicon-edit"> Editar</span>
</a>
>>>>>>> 2733efd5b0038449aa4b8d59f57c28e39cf60d71
