<h1>Listing third_parties</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Phone</th>
      <th>Cellphone</th>
      <th>Email</th>
      <th>Tax</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @third_parties.each do |third_party| %>
      <tr>
        <td><%= third_party.name %></td>
        <td><%= third_party.address %></td>
        <td><%= third_party.phone %></td>
        <td><%= third_party.cellphone %></td>
        <td><%= third_party.email %></td>
        <td><%= third_party.tax %></td>
        <td><%= link_to 'Show', third_party %></td>
        <td><%= link_to 'Edit', edit_third_party_path(third_party) %></td>
        <td><%= link_to 'Destroy', third_party, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Third party', new_third_party_path %>
