<%= form_for(@tercero) do |f| %>
  <% if @tercero.errors.any? %>
    <% @editar = true %>
  <% end %>
  <%= f.error_messages %>

  <fieldset <%= editar_o_bloquear %> >
    <div class="row">
      <div class="field form-group col-md-6">
        <%= f.label :nombre %><br>
        <%= f.text_field :nombre, class: 'form-control' %>
      </div>
      <div class="field form-group col-md-2">
        <%= f.label :cuit %><br>
        <%= f.text_field :cuit, class: 'form-control' %>
      </div>
      <div class="field form-group col-md-2">
        <%= f.label :iva %><br>
        <%= f.text_field :iva, class: 'form-control' %>
      </div>
      <div class="field form-group col-md-2">
        <%= f.label :relacion %><br>
        <%= f.select :relacion, Tercero::RELACIONES, { prompt: '-Elegir-' }, { class: 'form-control' } %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="field form-group">
          <%= f.label :contacto %>
          <%= f.text_field :contacto, class: 'form-control' %>
        </div>
        <div class="field form-group">
          <%= f.label :email %><br>
          <%= f.text_field :email, class: 'form-control' %>
        </div>
      </div>
      <div class="col-md-4">
        <div class="field form-group">
          <%= f.label :telefono %><br>
          <%= f.text_field :telefono, class: 'form-control' %>
        </div>
        <div class="field form-group">
          <%= f.label :celular %><br>
          <%= f.text_field :celular, class: 'form-control' %>
        </div>
      </div>
      <div class="col-md-4">
        <div class="field form-group">
          <%= f.label :direccion %><br>
          <%= f.text_area :direccion, { class: 'form-control', rows: 4 } %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="field form-group col-md-12">
        <%= f.label :notas %><br>
        <%= f.text_area :notas, class: 'form-control' %>
      </div>
    </div>
  </fieldset>
  <br>
<% end %>
