<h1>Listing terceros</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>direccion</th>
      <th>Telefono</th>
      <th>Celular</th>
      <th>Email</th>
      <th>Iva</th>
      <th>Proveedor</th>
      <th>Cliente</th>
      <th>Cuit</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @terceros.each do |tercero| %>
      <tr>
        <td><%= tercero.nombre %></td>
        <td><%= tercero.direccion %></td>
        <td><%= tercero.telefono %></td>
        <td><%= tercero.celular %></td>
        <td><%= tercero.email %></td>
        <td><%= tercero.iva %></td>
        <td><%= tercero.proveedor %></td>
        <td><%= tercero.cliente %></td>
        <td><%= tercero.cuit %></td>
        <td><%= link_to 'Show', tercero %></td>
        <td><%= link_to 'Edit', edit_tercero_path(tercero) %></td>
        <td><%= link_to 'Destroy', tercero, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tercero', new_tercero_path %>
