<h1>Listado de terceros</h1>

<table class="table table-hover table-condensed">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Dirección</th>
      <th>Teléfono</th>
      <th>Celular</th>
      <th>Email</th>
      <th>Iva</th>
      <th>Relacion</th>
      <th>Cuit</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @terceros.each do |tercero| %>
      <tr>
        <td><%= tercero.nombre %></td>
        <td><%= tercero.direccion %></td>
        <td><%= tercero.telefono %></td>
        <td><%= tercero.celular %></td>
        <td><%= tercero.email %></td>
        <td><%= tercero.iva %></td>
        <td><%= tercero.relacion %></td>
        <td><%= tercero.cuit %></td>
        <td><%= link_to 'Ver', tercero %></td>
        <td><%= link_to 'Editar', edit_tercero_path(tercero) %></td>
        <td><%= link_to 'Borrar', tercero, method: :delete, data: { confirm: '¿Está seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Tercero', new_tercero_path %>
