<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @tercero.nombre %>
</p>

<p>
  <strong>Dirección:</strong>
  <%= @tercero.direccion %>
</p>

<p>
  <strong>Teléfono:</strong>
  <%= @tercero.telefono %>
</p>

<p>
  <strong>Celular:</strong>
  <%= @tercero.celular %>
</p>

<p>
  <strong>Email:</strong>
  <%= @tercero.email %>
</p>

<p>
  <strong>Iva:</strong>
  <%= @tercero.iva %>
</p>

<p>
  <strong>Proveedor:</strong>
  <%= @tercero.proveedor %>
</p>

<p>
  <strong>Cliente:</strong>
  <%= @tercero.cliente %>
</p>

<p>
  <strong>Cuit:</strong>
  <%= @tercero.cuit %>
</p>

<%= link_to 'Editar', edit_tercero_path(@tercero) %> |
<%= link_to 'Volver', terceros_path %>
