<h2>
  Listado de Índices
  <a type="button" class="btn btn-primary col-md-2 pull-right" href="<%= new_indice_path %>">
    <span class="glyphicon glyphicon-plus"></span>
    Nuevo Índice
  </a>
</h2>

<table id='indices' class="table table-hover table-condensed">
  <thead>
    <tr>
      <th></th>
      <th>Denominación <%= sort_links :denominacion %></th>
      <th>Período <%= sort_links :valor %></th>
      <th>Valor</th>
    </tr>
  </thead>

  <tbody>
    <% @indices.each do |indice| %>
      <tr class="ir-a" data-uri="<%= indice_path(indice) %>">
        <td><%= link_to raw('<i class="glyphicon glyphicon-eye-open" title="Ver Índice"></i>'), [indice] %></td>
        <td><%= indice.denominacion %></td>
        <td><%= indice.periodo %></td>
        <td><%= indice.valor %></td>
      </tr>
    <% end %>
  </tbody>
</table>
