<h3>Pago en efectivo</h3>

<%= fields_for :causa, @causa do |f| %>
  <%= hidden_field_tag 'causa_tipo', 'efectivo' %>

  <div class="field form-group col-md-6" >
    <%= f.label :monto %>
    <%= f.text_field :monto, class: 'form-control' %>
  </div>

  <div class="field form-group col-md-6" >
    <%= f.label :caja %>
    <%= f.collection_select(:caja_id, @obra.cajas.de_efectivo, :id, :tipo,
      { prompt: "-Seleccione Caja-" }, { class: "form-control" } ) %>
  </div>

  <div class="field form-group col-md-12" >
    <%= f.submit 'Agregar', name: 'agregar_causa', class: 'btn btn-success pull-right' %>
  </div>
<% end %>
