<h3>Retención de impuestos</h3>

<%= fields_for :causa, @causa do |f| %>
  <%= hidden_field_tag 'causa_tipo', 'retencion' %>

  <div class="field form-group col-md-6" >
    <%= f.label :monto %>
    <%= f.text_field :monto, class: 'form-control' %>
  </div>

  <div class="field form-group col-md-6" >
    <%= f.label :documento %><br>
    <%= link_to 'Descargar el comprobante', @causa.documento.url %>
  </div>

  <div class="field form-group col-md-12" >
    <%= f.submit 'Agregar', name: 'agregar_causa', class: 'btn btn-success pull-right' %>
  </div>
<% end %>
