<%= form_for(@obra) do |f| %>
  <% if @obra.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@obra.errors.count, "error") %>. No se guardo la obra por:</h2>

      <ul>
      <% @obra.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label :nombre %><br>
    <%= f.text_field :nombre, class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= f.label :direccion %><br>
    <%= f.text_field :direccion, class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit "Guardar", class: "btn btn-primary submit"  %>
  </div>
<% end %>
