<div class="row col-md-12">
  <div class="row borde-abajo">
    <div class="h4 col-md-5">Situación Financiera</div>
    <div class="h4 col-md-3 text-right text-bottom">en ARS &nbsp;</div>
    <div class="h4 col-md-4 text-right">en USD &nbsp;</div>
  </div>
  <div class="row borde-abajo-punteado" title="Liquidez Neta: dinero disponible no comprometido con pagos futuros">
    <div class="h4 col-md-4"><strong>Liquidez Neta</strong></div>
    <div class="h4 text-right col-md-4"><strong>
      <%= formatted_number(@obra.total_general('ARS')) %>
    </strong></div>
    <div class="h4 text-right col-md-4"><strong>
      <%= formatted_number(@obra.total_general('USD')) %>
    </strong></div>
  </div>
  <div class="row ir-a" data-uri="<%= obra_cajas_path(@obra) %>" title="Efectivo: montos disponibles en todas las cajas de la obra">
    <div class="col-md-4">Efectivo</div>
    <div class="text-right col-md-4">
      <%= formatted_number(@obra.total_general('ARS', { situacion: 'efectivo' })) %>
    </div>
    <div class="text-right col-md-4">
      <%= formatted_number(@obra.total_general('USD', { situacion: 'efectivo' })) %>
    </div>
  </div>
  <div class="row ir-a" data-uri="<%= obra_cajas_path(@obra) %>" title="Bancos: montos disponibles en todas las cuentas bancarias de la obra">
    <div class="col-md-4">Bancos</div>
    <div class="text-right col-md-4">
      <%= formatted_number(@obra.total_general('ARS', { situacion: 'banco' })) %>
    </div>
    <div class="text-right col-md-4">
      <%= formatted_number(@obra.total_general('USD', { situacion: 'banco' })) %>
    </div>
  </div>
  <div class="row ir-a" data-uri="<%= obra_cheques_path(@obra, situacion: 'terceros') %>" title="Cheques 3ros: cheques de 3ros en cartera">
    <div class="col-md-4">Cheques de 3ros</div>
    <div class="text-right col-md-4">
      <%= formatted_number(@obra.chequera.total) %>
    </div>
    <div class="text-right col-md-4">
    --- &nbsp;
    </div>
  </div>
  <div class="row ir-a" data-uri="<%= obra_cheques_path(@obra, situacion: 'propios') %>" title="Cheques Propios: cheques propios emitidos">
    <div class="col-md-4">Cheques Propios</div>
    <div class="text-right col-md-4">
      <%= formatted_number(@obra.chequera_propia.total) %>
    </div>
    <div class="text-right col-md-4">
    --- &nbsp;
    </div>
  </div>
  <div class="row borde-abajo ir-a" data-uri="<%= obra_retenciones_path(@obra, situacion: 'terceros') %>" title="Retenciones: retenciones pendientes de pago">
    <div class="col-md-4">Retenciones</div>
    <div class="text-right col-md-4">
      <%# FIXME la lógica no va en las vistas %>
      <%= formatted_number(@obra.total_general('ARS', "tipo LIKE 'Retenciones%' AND situacion = 'chequera'")) %>
    </div>
    <div class="text-right col-md-4">
      --- &nbsp;
    </div>
  </div>
  <br>
</div>
