<h1>Listado de obras</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @obras.each do |obra| %>
      <tr>
        <td><%= obra.nombre %></td>
        <td><%= link_to 'Ver', obra %></td>
        <td><%= link_to 'Editar', edit_obra_path(obra) %></td>
        <td><%= link_to 'Borrar', obra, method: :delete, data: { confirm: '¿Esta seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva Obra', new_obra_path %>
