<div class="row">
  <h2><%= @obra.nombre %></h2> 
  <% if !notice.nil? %>
    <div id="notice" class="alert alert-success"><%= notice %></div>
  <% end %>
</div>

<div class="row">
  <div class="col-md-5">
    <div class="row">
      <%= render 'form' %>
    </div>

    <div class="row">
      <a type="button" class="btn btn-success col-md-3" href="<%= obras_path %>">
        <span class="glyphicon glyphicon-list-alt"></span>
        Listar Obras
      </a>
      <a type="button" class="btn btn-warning col-md-3 col-md-offset-1" href="<%= edit_obra_path(@obra) %>">
        <span class="glyphicon glyphicon-edit"></span>
        Editar Obra
      </a>
    </div>
  </div>

  <div class="row col-md-6 col-md-offset-1">
    <div class="row borde-abajo">
      <div class="h3 col-md-6">Balance Economico</div>
      <div class="h4 h4-alinear-h3 col-md-3 text-right text-bottom">en ARS</div>
      <div class="h4 h4-alinear-h3 col-md-3 text-right">en USD</div>
    </div>
    <div class="row borde-abajo-punteado" title="Saldo general: suma de todos los saldos.">
      <div class="h4 col-md-6">Saldo General</div>
      <div class="h4 text-right col-md-3">
        <%= formatted_number @obra.saldo_general %>
      </div>
      <div class="h4 text-right col-md-3">
        <%= formatted_number @obra.saldo_general('USD') %>
      </div>
    </div>
    <div class="row" title="Saldo de Pagos: montos pendientes de pago (ver Facturas de Pago)">
      <div class="h4 col-md-6">Saldo de Pagos</div>
      <div class="h4 text-right col-md-3">
        <%= formatted_number @obra.saldo_de_pago %>
      </div>
      <div class="h4 text-right col-md-3">
        <%= formatted_number @obra.saldo_de_pago('USD') %>
      </div>
    </div>
    <div class="row borde-abajo" title="Saldo de Cobros: montos pendientes de cobro (ver Facturas de Cobro)">
      <div class="h4 col-md-6">Saldo de Cobros</div>
      <div class="h4 text-right col-md-3">
        <%= formatted_number @obra.saldo_de_cobro %>
      </div>
      <div class="h4 text-right col-md-3">
        <%= formatted_number @obra.saldo_de_cobro('USD') %>
      </div>
    </div>

    <div class="row borde-abajo">
      <div class="h3 col-md-6">Balance Financiero</div>
      <div class="h4 h4-alinear-h3 col-md-3 text-right text-bottom">en ARS</div>
      <div class="h4 h4-alinear-h3 col-md-3 text-right">en USD</div>
    </div>
    <div class="row borde-abajo-punteado" title="Liquidez Neta: dinero disponible no comprometido con pagos futuros">
      <div class="h4 col-md-6">Liquidez Neta</div>
      <div class="h4 text-right col-md-3">
        <%= formatted_number @obra.total_general('ARS') %>
      </div>
      <div class="h4 text-right col-md-3">
        <%= formatted_number @obra.total_general('USD') %>
      </div>
    </div>
    <div class="row" title="Efectivo: montos disponibles en todas las cajas de la obra (ver Cajas y Cuentas)">
      <div class="h4 col-md-6">Efectivo</div>
      <div class="h4 text-right col-md-3">
        <%= formatted_number @obra.total_general('ARS', { situacion: 'efectivo' }) %>
      </div>
      <div class="h4 text-right col-md-3">
        <%= formatted_number @obra.total_general('USD', { situacion: 'efectivo' }) %>
      </div>
    </div>
    <div class="row" title="Bancos: montos disponibles en todas las cuentas bancarias de la obra (ver Cajas y Cuentas)">
      <div class="h4 col-md-6">Bancos</div>
      <div class="h4 text-right col-md-3">
        <%= formatted_number @obra.total_general('ARS', { situacion: 'banco' }) %>
      </div>
      <div class="h4 text-right col-md-3">
        <%= formatted_number @obra.total_general('USD', { situacion: 'banco' }) %>
      </div>
    </div>
    <div class="row borde-abajo" title="Cheques 3ros: cheques de 3ros en cartera (ver Cheques Terceros)">
      <div class="h4 col-md-6">Cheques 3ros</div>
      <div class="h4 text-right col-md-3">
        <%= formatted_number @obra.total_general('ARS', { situacion: 'chequera' }) %>
      </div>
      <div class="h4 text-right col-md-3">
        <%= formatted_number @obra.total_general('USD', { situacion: 'chequera' }) %>
      </div>
    </div>

      <h4>IVA
        <span class="pull-right label label-<%= alert_range @obra.total_iva %>">
          ARS <%= formatted_number(@obra.total_iva) %>
        </span>
      </h4>

      <h4>Importe Neto de Pago
        <span class="pull-right label label-<%= alert_range @obra.total_facturas('importe_neto', 'ARS', { situacion: 'pago' }) %>">
          ARS <%= formatted_number(@obra.total_facturas('importe_neto', 'ARS', { situacion: 'pago' })) %>
        </span>
        <span class="pull-right label label-<%= alert_range @obra.total_facturas('importe_neto', 'USD', { situacion: 'pago' }) %>">
          USD <%= formatted_number(@obra.total_facturas('importe_neto', 'USD', { situacion: 'pago' })) %>
        </span>
      </h4>

      <h4>Importe Neto de Cobro
        <span class="pull-right label label-<%= alert_range @obra.total_facturas('importe_neto', 'ARS', { situacion: 'cobro' }) %>">
          ARS <%= formatted_number(@obra.total_facturas('importe_neto', 'ARS', { situacion: 'cobro' })) %>
        </span>
        <span class="pull-right label label-<%= alert_range @obra.total_facturas('importe_neto', 'USD', { situacion: 'cobro' }) %>">
          USD <%= formatted_number(@obra.total_facturas('importe_neto', 'USD', { situacion: 'cobro' })) %>
        </span>
      </h4>

    </div>
</div>
