<div class="row">
  <h2><%= @obra.nombre %></h2> 
  <% if !notice.nil? %>
    <div id="notice" class="alert alert-success"><%= notice %></div>
  <% end %>
</div>

<div class="row">
  <div class="col-md-8">
    <div class="row">
      <%= render 'form' %>
    </div>

    <div class="row">
      <a type="button" class="btn btn-success col-md-3" href="<%= obras_path %>">
        <span class="glyphicon glyphicon-list-alt"></span>
        Listar Obras
      </a>
      <a type="button" class="btn btn-warning col-md-3 col-md-offset-1" href="<%= edit_obra_path(@obra) %>">
        <span class="glyphicon glyphicon-edit"></span>
        Editar Obra
      </a>
    </div>

    <div>
      <h3>Balances</h3>

      <h4>Saldo General
          <span class="pull-right label label-<%= alert_range @obra.saldo_general %>">
          <%= formatted_number @obra.saldo_general %>
          </span></h4>
      <p>El saldo general es la suma de todos los saldos.</p>

      <h4>Saldo de pagos
          <span class="pull-right label label-<%= alert_range @obra.saldo_de_pago %>">
          <%= formatted_number @obra.saldo_de_pago %>
          </span></h4>
      <p>El saldo de pagos es la suma de todos los saldos de
        <%= link_to 'facturas de pago', pagos_obra_facturas_path(@obra) %></p>

      <h4>Saldo de cobros
          <span class="pull-right label label-<%= alert_range @obra.saldo_de_cobro %>">
          <%= formatted_number @obra.saldo_de_cobro %>
          </span></h4>
      <p>El saldo de cobros es la suma de todos los saldos de
        <%= link_to 'facturas de cobro', cobros_obra_facturas_path(@obra) %></p>

      <h4>Cajas en pesos
          <span class="pull-right label label-<%= alert_range(@obra.total_general('ARS')) %>">
          <%= @obra.total_general 'ARS' %>
          </span></h4>
      <p>Saldo de movimientos en pesos</p>

      <h4>Cajas en dólares
          <span class="pull-right label label-<%= alert_range(@obra.total_general('USD')) %>">
          <%= @obra.total_general 'USD' %>
          </span></h4>
      <p>Saldo de movimientos en dólares</p>
    </div>
  </div>
</div>
