<div class="row">
  <h2><%= @obra.nombre %></h2> 
  <% if !notice.nil? %>
    <div id="notice" class="alert alert-success"><%= notice %></div>
  <% end %>
</div>

<div class="row">
  <div class="col-md-8">
    <div class="row">
      <%= render 'form' %>
    </div>

    <div class="row">
      <a type="button" class="btn btn-success col-md-3" href="<%= obras_path %>">
        <span class="glyphicon glyphicon-list-alt"></span>
        Listar Obras
      </a>
      <a type="button" class="btn btn-warning col-md-3 col-md-offset-1" href="<%= edit_obra_path(@obra) %>">
        <span class="glyphicon glyphicon-edit"></span>
        Editar Obra
      </a>
    </div>

    <div>
      <h3>Balances</h3>

      <h4>Saldo General
          <span class="pull-right label label-<%= alert_range @obra.saldo_general %>">
          ARS <%= formatted_number @obra.saldo_general %>
          </span>
          <span class="pull-right label label-<%= alert_range @obra.saldo_general('USD') %>">
          USD <%= formatted_number @obra.saldo_general('USD') %>
          </span>
      </h4>
      <p>El saldo general es la suma de todos los saldos.</p>

      <h4>Saldo de pagos
          <span class="pull-right label label-<%= alert_range @obra.saldo_de_pago %>">
          ARS <%= formatted_number @obra.saldo_de_pago %>
          </span>
          <span class="pull-right label label-<%= alert_range @obra.saldo_de_pago('USD') %>">
          USD <%= formatted_number @obra.saldo_de_pago('USD') %>
          </span>
      </h4>
      <p>El saldo de pagos es la suma de todos los saldos de
        <%= link_to 'facturas de pago', pagos_obra_facturas_path(@obra) %></p>

      <h4>Saldo de cobros
          <span class="pull-right label label-<%= alert_range @obra.saldo_de_cobro %>">
          ARS <%= formatted_number @obra.saldo_de_cobro %>
          </span>
          <span class="pull-right label label-<%= alert_range @obra.saldo_de_cobro('USD') %>">
          USD <%= formatted_number @obra.saldo_de_cobro('USD') %>
          </span>
      </h4>
      <p>El saldo de cobros es la suma de todos los saldos de
        <%= link_to 'facturas de cobro', cobros_obra_facturas_path(@obra) %></p>

      <h4>IVA
        <span class="pull-right label label-<%= alert_range @obra.total_iva %>">
          ARS <%= formatted_number(@obra.total_iva) %>
        </span>
      </h4>

      <h4>Importe Neto de Pago
        <span class="pull-right label label-<%= alert_range @obra.total_facturas('importe_neto', 'ARS', { situacion: 'pago' }) %>">
          ARS <%= formatted_number(@obra.total_facturas('importe_neto', 'ARS', { situacion: 'pago' })) %>
        </span>
        <span class="pull-right label label-<%= alert_range @obra.total_facturas('importe_neto', 'USD', { situacion: 'pago' }) %>">
          USD <%= formatted_number(@obra.total_facturas('importe_neto', 'USD', { situacion: 'pago' })) %>
        </span>
      </h4>

      <h4>Importe Neto de Cobro
        <span class="pull-right label label-<%= alert_range @obra.total_facturas('importe_neto', 'ARS', { situacion: 'cobro' }) %>">
          ARS <%= formatted_number(@obra.total_facturas('importe_neto', 'ARS', { situacion: 'cobro' })) %>
        </span>
        <span class="pull-right label label-<%= alert_range @obra.total_facturas('importe_neto', 'USD', { situacion: 'cobro' }) %>">
          USD <%= formatted_number(@obra.total_facturas('importe_neto', 'USD', { situacion: 'cobro' })) %>
        </span>
      </h4>

      <h4>Cajas en efectivo
          <span class="pull-right label label-<%= alert_range(@obra.total_general('ARS')) %>">
          ARS <%= @obra.total_general('ARS', { situacion: 'efectivo' }) %>
          </span>
          <span class="pull-right label label-<%= alert_range(@obra.total_general('USD')) %>">
          USD <%= @obra.total_general('USD', { situacion: 'efectivo' }) %>
          </span></h4>

      <h4>Cuentas bancarias
          <span class="pull-right label label-<%= alert_range(@obra.total_general('ARS')) %>">
          ARS <%= @obra.total_general('ARS', { situacion: 'banco' }) %>
          </span></h4>

      <h4>Chequeras
          <span class="pull-right label label-<%= alert_range(@obra.total_general('ARS')) %>">
          ARS <%= @obra.total_general('ARS', { situacion: 'chequera' }) %>
          </span></h4>
    </div>
  </div>
</div>
