<h1><%= @obra.nombre %></h1>

<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @obra.nombre %>
</p>

<%= link_to 'Editar', edit_obra_path(@obra) %> |
<%= link_to 'Volver', obras_path %>
