<h4>Pago en efectivo</h4>

<%= fields_for :causa do |f| %>
  <%= hidden_field_tag 'causa_tipo', 'efectivo' %>

  <div class="field form-group col-md-4" >
    <%= f.label :caja %>
    <%= f.collection_select(:caja_id, cajas_de_efectivo, :id, :tipo,
      { prompt: "-Seleccione Caja-" }, { class: "form-control", required: true } ) %>
  </div>

  <%= render partial: 'campos_pago_no_trackeable', locals: { f: f } %>
<% end %>
