<tr class="ir-a" data-uri="<%# TODO agregar path a movimento? %>">
  <td class='<%= lista_cajas %>'>
    <%= formatted_date(movimiento.recibo.fecha) %>
  </td>
  <td><%= link_a_causa(movimiento) %></td>
  <td class='text-right <%= lista_recibos %>'>
    <%= formatted_number(movimiento.monto.abs) %>
  </td>
  <td class='text-right <%= lista_cajas %>'>
    <%= movimiento.monto_moneda == 'ARS' ? formatted_number(movimiento.monto) : '' %>
  </td>
  <td class='text-right <%= lista_cajas %> <%= lista_efectivo %>'>
    <%= movimiento.monto_moneda == 'USD' ? formatted_number(movimiento.monto) : '' %>
  </td>
  <td class="<%= boton_borrar %>">
    <a class="glyphicon glyphicon-remove-sign text-danger" <%# TODO agregar metodo para borrar movimiento %> ></a>
  </td>
</tr>
