<h4>Transferencia bancaria</h4>

<%= fields_for :causa do |f| %>
  <%= hidden_field_tag 'causa_tipo', 'transferencia' %>

  <div class="field form-group col-md-4" >
    <%= f.label :caja %>
    <%= f.collection_select(:caja_id, cuentas_de_donde_transferir, :id, :tipo,
      { prompt: "-Seleccione Cuenta-" }, { class: "form-control", required: true } ) %>
  </div>

  <%= render partial: 'campos_pago_no_trackeable', locals: { f: f } %>
<% end %>
