<div class="btn-group">
  <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
    <span class="glyphicon glyphicon-plus"></span>
    Pago
  </button>
  <ul class="dropdown-menu" role="menu">
    <% if @recibo.factura.tipo == 'X' %>
      <li><%= link_a_nuevo_movimiento('Efectivo') %></li>
      <li><%= link_a_nuevo_movimiento('Cheque de terceros') %></li>
    <% else %>
      <li><%= link_a_nuevo_movimiento('Efectivo') %></li>
      <li><%= link_a_nuevo_movimiento('Transferencia') %></li>
      <li class="divider"></li>
      <li><%= link_a_nuevo_movimiento('Cheque propio') %></li>
      <li><%= link_a_nuevo_movimiento('Cheque de terceros') %></li>
      <li class="divider"></li>
      <li><%= link_a_nuevo_movimiento('Retenciones') %></li>
    <% end %>
  </ul>
</div>
