<div id='movimientos' class="row pull-right">
  <div class="btn-group">
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
      <span class="glyphicon glyphicon-plus"></span>
      Pago
    </button>
    <ul class="dropdown-menu" role="menu">
      <li><%= link_a_nuevo_movimiento('Efectivo') %></li>
      <li><%= link_a_nuevo_movimiento('Transferencia') %></li>
      <li class="divider"></li>
      <li><%= link_a_nuevo_movimiento('Cheque propio') %></li>
      <li><%= link_a_nuevo_movimiento('Cheque de terceros') %></li>
      <li class="divider"></li>
      <li><%= link_a_nuevo_movimiento('Retenciones') %></li>
    </ul>
  </div>
</div>
