<%= form_for([@factura, @recibo]) do |f| %>
  <% if @recibo.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <strong>No se guardo el recibo.</strong> Debe corregir <%= pluralize(@recibo.errors.count, "error") %>
      <ul>
      <% @recibo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% @editar = true %>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%# (des)habilita la edicion del formulario dependiendo del valor de @editar %>
  <fieldset <% if not @editar %> disabled <% end %> >

    <div class="row">
      <div class="field form-group col-md-3">
        <%= f.label :fecha %><br>
        <div class="input-group date">
          <%= f.text_field :fecha, class: "form-control" %>
          <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
        </div>
      </div>
      <div class="field form-group col-md-3 pull-right">
        <%= f.label :importe %><br>
        <%= f.text_field :importe, class: "form-control" %>
      </div>
    </div>

    <div class="row">
      <div class="field form-group col-md-9">
        <label>Tercero</label>
        <span class="form-control" disabled><%= @factura.nombre.first(80) %></span>
      </div>
      <div class="field form-group col-md-3" >
        <label>Nro. Factura</label>
        <span class="form-control" disabled><%= @factura.tipo.first(1) %>-<%= @factura.numero.first(10) %></span>
      </div>
    </div>

    <div class="row">
      <br>
    </div>

    <%# comento estas lineas para guardar un ejemplo de dropdown no
        logre que Bootstrap les aplique css %>
      <% if false %>
        <div class="field form-group">
          <%= f.label :situacion %><br>
          <%= collection_select(:recibo, :situacion, Recibo::SITUACIONES, :to_s, :capitalize, class: "form-control" ) %>
        </div>
        <div class="field form-group">
          <%= f.label :factura_id %><br>
          <%= collection_select(:recibo, :factura_id, Factura.all, :id,:tipo, class: "form-control" ) %>
        </div>
      <% end %>

  </fieldset>

<% end %>
