<%= form_for [@factura, @recibo] do |f| %>
  <% if @recibo.errors.any? %>
    <% @editar = true %>
  <% end %>
  <%= f.error_messages %>

  <%# (des)habilita la edicion del formulario dependiendo del valor de @editar %>
  <fieldset <%= editar_o_bloquear %>>

    <div class="row">
      <div class="field form-group col-md-6">
        <label>Tercero</label>
        <span class="form-control" disabled>
          <% if ! @recibo.interno? %>
            <%= @factura.tercero.cuit %>: <%= @factura.tercero.nombre.first(40) %>
          <% else %>
            Recibo Interno
          <% end %>
        </span>
      </div>
      <div class="field form-group col-md-3 col-md-offset-3">
        <%= f.label :fecha %><br>
        <div class="input-group date">
          <%= f.text_field :fecha, { class: "form-control", value:formatted_date(@recibo.fecha) } %>
          <span class="input-group-addon">
            <i class="glyphicon glyphicon-th"></i>
          </span>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="field form-group col-md-6" >
        <% if ! @recibo.interno? %>
          <label>Nro. Factura</label>
          <span class="form-control" disabled>
            <%= "#{@factura.tipo.first(1)}-#{@factura.numero.first(10)}: #{@factura.descripcion.first(40)}" %>
          </span>
        <% end %>
      </div>
      <div class="field form-group col-md-2 col-md-offset-1">
        <% if ! @recibo.interno? %>
          <%= render 'layouts/selector_moneda', moneda: @factura.importe_neto_moneda, seleccion: 'disabled' %>
        <% end %>
      </div>
      <div class="field form-group col-md-3">
        <%= f.label :importe %><br>
        <%= f.text_field :importe, class: "form-control text-right", disabled: true,
            data: { role:'money', a_sep:'.', a_dec:',' } %>
      </div>
    </div>

    <div class="row">
      <br><%# TODO margen con csssss!! %>
    </div>

    <%# Hook para enganchar los nuevos movimientos %>
    <div class="row" id='nuevo-movimiento'>
    </div>

    <div class="row">
      <br><%# TODO margen con csssss!! %>
    </div>

    <%# campo necesario para crear un recibo nuevo %>
    <% if ! @recibo.interno? %>
      <%= f.hidden_field :factura_id, value: @factura.id %>
    <% end %>
  </fieldset>

<% end %>
