<% lista_larga = establecer_parametros_listado[0] %>
<% lista_causa = establecer_parametros_listado[1] %>
<% muestra_importe = establecer_parametros_listado[2] %>

<table class="table table-hover table-condensed">
  <thead>
    <tr>
      <th></th>
      <th class="<%= lista_causa %>">Situacion</th>
      <th>Fecha <%= sort_links :fecha %></th>
      <th class="<%= lista_larga %>">Tercero <%= sort_links :terceros_nombre %></th>
      <th class="<%= lista_larga %>">Factura</th>
      <th class="<%= lista_larga %>">Fecha Factura</th>
      <th class="text-right <%= muestra_importe %>">Moneda</th>
      <th class="text-right <%= muestra_importe %>">Importe <%= sort_links :importe_cache_centavos %></th>
    </tr>
  </thead>

  <tbody>
    <% @recibos.each do |recibo| %>
      <tr class="ir-a" data-uri="<%= con_obra? factura_recibo_path(recibo.factura, recibo) %>">
        <td><%= link_to '', [recibo.factura, recibo], class:"glyphicon glyphicon-eye-open" %></td>
        <td class="<%= lista_causa %>"><%= recibo.situacion.capitalize %></td>
        <td><%= formatted_date(recibo.fecha) %></td>
        <td class="<%= lista_larga %>"><%= recibo.factura.tercero.nombre.first(30) %></td>
        <td class="<%= lista_larga %>"><%= recibo.factura.tipo.first(1) %>-<%= recibo.factura.numero.first(10) %>: <%= recibo.factura.descripcion.first(30) %></td>
        <td class="<%= lista_larga %>"><%= formatted_date (recibo.factura.fecha) %></td>
        <td class="text-right <%= muestra_importe %>"><%= recibo.importe_moneda %></td>
        <td class="text-right <%= muestra_importe %>"><%= formatted_number(recibo.importe) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
