<div class="row">
  <h2>Detalle de Recibo de <%= @recibo.situacion.capitalize %></h2> 
  <% if !notice.nil? %>
    <div id="notice" class="alert alert-success"><%= notice %></div>
  <% end %>
</div>

<div class="row">
  <div class="col-md-8">
    <div class="row">
      <% @editar = false %>
      <%= render 'form' %>
    </div>

    <div class="row">
      <a type="button" class="btn btn-success col-md-3" href="<%= factura_path (@recibo.factura) %>">
        <span class="glyphicon glyphicon-eye-open"></span>
        Ver Factura
      </a>
      <a type="button" class="btn btn-warning col-md-3 col-md-offset-1" href="<%= edit_factura_recibo_path(@recibo.factura, @recibo) %>">
        <span class="glyphicon glyphicon-edit"></span>
        Editar Recibo
      </a>
    </div>

    <div class="row">
      <br>
    </div>

    <div class="row">  
      <a type="button" class="btn btn-success col-md-3" href="<%= recibos_por_tipo_path %>">
        <span class="glyphicon glyphicon-list"></span>
        Listar Recibos
      </a>
    </div>
  </div>

  <div class="col-md-4">
    <div class="row">
      <div class="field form-group col-md-5 pull-right">
        <label>Saldo de la Factura</label><br>
        <span class="form-control" disabled ><%= formatear_numero(@recibo.factura.saldo) %></span>
      </div>
    </div>

    <div class="row col-md-offset-1">
      <h4>Detalle de Movimientos</h4>
      <%# TODO incorporar listado de movimientos cuando sea posible %>
    </div>

  </div>

</div>
