<p id="notice"><%= notice %></p>

<p>
  <strong>Fecha:</strong>
  <%= @recibo.fecha %>
</p>

<p>
  <strong>Importe:</strong>
  <%= @recibo.importe %>
</p>

<p>
  <strong>Situación:</strong>
  <%= @recibo.situacion %>
</p>

<p>
  <strong>Factura:</strong>
  <%= @recibo.factura %>
</p>

<%= link_to 'Editar', edit_recibo_path(@recibo) %> |
<%= link_to 'Volver', recibos_path %>
