<%= form_for([@obra, @caja, @cheque]) do |f| %>
  <% if @cheque.errors.any? %>
    <% @editar = true %>
  <% end %>
  <%= f.error_messages %>

  <fieldset <%= editar_o_bloquear %>>

    <div class="row">
      <div class="field form-group col-md-4">
        <%# Solo se puede modificar la cuenta cuando el cheque fue emitido o depositado, no cuando ya se cobró o pagó%>
        <%= f.label :cuenta %>
        <% if (@cheque.propio? && @cheque.chequera?) || (@cheque.terceros? && @cheque.depositado?) %>
          <%= f.collection_select :cuenta_id, @cheque.chequera.obra.cajas.cuentas, :id, :banco_tipo_numero,
              { prompt: '-Seleccione Cuenta-' }, { class: 'form-control', required: true } %>
        <% elsif @cheque.cuenta.present? %>
          <p><%= @cheque.cuenta.banco_tipo_numero %></p>
        <% else %>
          <p>No está asociado a ninguna cuenta.</p>
        <% end %>

        <label>Chequera</label>
        <p><%= @cheque.chequera.banco_tipo_numero %></p>
      </div>

      <div class="field form-group col-md-3 col-md-offset-2">
        <%= f.label :fecha_emision %><br>
        <div class="input-group date">
          <%= f.text_field :fecha_emision, class: 'form-control',
              value: formatted_date(@cheque.fecha_emision) %>
          <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
        </div>
      </div>

      <div class="field form-group col-md-3">
        <%= f.label :fecha_vencimiento %><br>
        <div class="input-group date">
          <%= f.text_field :fecha_vencimiento, class: 'form-control',
              value: formatted_date(@cheque.fecha_vencimiento) %>
          <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="field form-group col-md-6">
        <%= f.label :beneficiario %><br>
        <%= f.text_field :beneficiario, class: 'form-control' %>
      </div>
      <div class="field form-group col-md-2 col-md-offset-1">
        <label class='text-right'>Moneda</label><br>
        <span class='form-control text-right'>ARS</span>
      </div>
      <div class="field form-group col-md-3">
        <%= f.label :monto, class: 'text-right'%><br>
        <%= f.text_field :monto, { class: 'form-control text-right', data: {role: 'money', a_sep:'.', a_dec:',' } } %>
      </div>
    </div>

    <div class="row">
      <div class="field form-group col-md-3">
        <%= f.label :banco %><br>
        <%= f.text_field :banco, class: 'form-control', placeholder: 'Según la caja' %>
      </div>

      <div class="field form-group col-md-3">
        <%= f.label :numero %><br>
        <%= f.text_field :numero, class: 'form-control' %>
      </div>
    </div>

    <div class="row">
      <br>
    </div>

    <%# campo necesario para crear/editar cheques %>
    <%= f.hidden_field :estado %>
    <% actualiza_situacion %>
    <%= f.hidden_field :situacion %>

  </fieldset>

<% end %>
