<table class="table table-hover table-condensed">
  <thead>
    <tr>
      <th></th>
      <th>Situación</th>
      <th>Estado</th>
      <th>Emisión</th>
      <th>Vencimiento <%= sort_links @cheque, :fecha_vencimiento %></th>
      <th>Monto <%= sort_links @cheque, :monto_centavos %></th>
      <th>Beneficiario</th>
      <th>Chequera</th>
      <th>Banco</th>
    </tr>
  </thead>

  <tbody>
    <% @cheques.each do |cheque| %>
      <tr class="ir-a" data-uri="<%= obra_caja_cheque_path(cheque.chequera.obra, cheque.chequera, cheque.id) %>">
        <td><%= link_to '', [cheque.chequera.obra, cheque.chequera, cheque], class:"glyphicon glyphicon-eye-open" %></td>
        <td><span class="label <%= etiqueta_de_situacion cheque.situacion %>"><%= cheque.situacion %></span></td>
        <td><span class="label <%= etiqueta_de_estado cheque.estado %>"><%= cheque.estado %></span></td>
        <td><%= formatted_date(cheque.fecha_emision) %></td>
        <td><%= formatted_date(cheque.fecha_vencimiento) %></td>
        <td><%= formatted_number(cheque.monto) %></td>
        <td><%= cheque.beneficiario %></td>
        <td><%= cheque.chequera.tipo %></td>
        <td><%= cheque.banco %></td>
        <td>
          <% if cheque.terceros? and cheque.chequera? %>
          <%= render 'cheques/depositar', cheque: cheque %>
          <% elsif cheque.depositado? %>
          <%= render 'cheques/cobrar', cheque: cheque %>
          <% elsif cheque.propio? and cheque.chequera? %>
          <%= render 'cheques/pagar', cheque: cheque %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
