<div class="row">
  <h2><%= titulo_vista_cheque %></h2>
  <% if !notice.nil? %>
    <div id="notice" class="alert alert-success"><%= notice %></div>
  <% end %>
</div>

<div class="row">
  <div class="col-md-8">
    <div class="row">
      <%= render 'form' %>
    </div>

    <div class="row">
      <a type="button" class="btn btn-success col-md-3" href="<%= path_a_listado %>">
        <span class="glyphicon glyphicon-list-alt"></span>
        Listar Cheques
      </a>
      <a type="button" class="btn btn-warning col-md-3 col-md-offset-1" href="<%= con_obra? edit_cheque_path(@cheque) %>">
        <span class="glyphicon glyphicon-edit"></span>
        Editar Cheque
      </a>
    </div>
  </div>
</div>
