<h1>Listing cuentas</h1>

<table>
  <thead>
    <tr>
      <th>Numero</th>
      <th>Obra</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @cuentas.each do |cuenta| %>
      <tr>
        <td><%= cuenta.numero %></td>
        <td><%= cuenta.obra_id %></td>
        <td><%= link_to 'Show', cuenta %></td>
        <td><%= link_to 'Edit', edit_cuenta_path(cuenta) %></td>
        <td><%= link_to 'Destroy', cuenta, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cuenta', new_cuenta_path %>
