<p id="notice"><%= notice %></p>

<p>
  <strong>Número:</strong>
  <%= @cuenta.numero %>
</p>

<p>
  <strong>Obra:</strong>
  <%= @cuenta.obra_id %>
</p>

<%= link_to 'Editar', edit_cuenta_path(@cuenta) %> |
<%= link_to 'Volver', cuentas_path %>
