<%# parametros ( form_banco )
    form_banco: oculta campos usados solo en el formulario de banco
    valor = [ "hidden", "" ]
%>

<%= form_for @caja do |f| %>
  <% if @caja.errors.any? %>
    <% @editar = true %>
    <div id="error_explanation" class="alert alert-danger">
      <strong>No se guardo la Caja. </strong><%= pluralize(@caja.errors.count, "error") %>
      <ul>
      <% @caja.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= hidden_field_tag :obra_id, obra_caja %>

  <fieldset <%= editar_o_bloquear %>>

    <div class="row">

      <div class="field form-group col-md-2">
        <%= f.label :obra_id %>
        <%= f.collection_select(:obra_id, Obra.all, :id, :nombre, {
            prompt: "-Seleccione Obra-", selected: obra_caja }, { class: "form-control" } ) %>
      </div>

      <div class="field form-group col-md-2 <%= form_banco %>">
        <%= f.label :banco %>
        <%= f.text_field :banco, class:"form-control" %>
      </div>

      <div class="field form-group col-md-2">
        <%= f.label :tipo %>
        <%= f.text_field :tipo, class:"form-control" %>
      </div>

      <div class="field form-group col-md-2 <%= form_banco %>">
        <%= f.label :numero %>
        <%= f.text_field :numero, class:"form-control" %>
      </div>

    </div>

      <%# campo necesario para crear un recibo nuevo %>
      <%= f.hidden_field :situacion, value: valor_situacion %>

  </fieldset>

  <br>

<% end %>
