<%= form_for(@caja) do |f| %>
  <% if @caja.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@caja.errors.count, "error") %> prohibited this caja from being saved:</h2>

      <ul>
      <% @caja.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :obra_id %><br>
    <%= f.number_field :obra_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
