<%# parametros ( lista_caja, lista_banco )
    lista_caja: oculta campos usados solo en el listado de cajas
    lista_banco: oculta campos usados solo en el listado de cuentas
    valor = [ "hidden", "" ]
%>

<table class="table table-hover table-condensed">
  <thead>
    <tr>
      <th></th>
      <th>Obra</th>
      <th class="<%= lista_banco %>">Banco</th>
      <th>Tipo</th>
      <th class="<%= lista_banco %>">Numero</th>
      <th class="text-right">Saldo ARS</th>
      <th class="text-right <%= lista_caja %>">Saldo USD</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% cajas.each do |caja| %>
      <tr class="ir-a" data-uri="<%= obra_caja_path(caja.obra, caja.id)%>">
        <td><%= link_to '', [caja.obra, caja], class:"glyphicon glyphicon-eye-open" %></td>
        <td><%= caja.obra.nombre %></td>
        <td class="<%= lista_banco %>"><%= caja.banco %></td>
        <td><%= caja.tipo %></td>
        <td class="<%= lista_banco %>"><%= caja.numero %></td>
        <td class="text-right"><%= formatted_number(caja.total('ARS')) %> ARS</td>
        <td class="text-right <%= lista_caja %>"><%= formatted_number(caja.total('USD')) %> USD</td>
      </tr>
    <% end %>
  </tbody>
</table>
