<div class="row">
  <h2>Editar <%= caja_o_cuenta %></h2>
</div>

<div class="row">
  <%= render 'form', opciones_formulario_caja %>
</div>

<div class="row">
  <a type="button" class="btn btn-danger col-md-2" href="<%= con_obra? caja_path %>" data-confirm="Estas seguro?" data-method="delete" rel="nofollow">
    <span class="glyphicon glyphicon-remove-circle"></span>
    Borrar <%= caja_o_cuenta %>
  </a>
  <a type="button" class="btn btn-warning col-md-2 col-md-offset-1" href="<%= con_obra? caja_path(@caja) %>">
    <span class="glyphicon glyphicon-eye-open"></span>
    Volver a <%= caja_o_cuenta %>
  </a>
  <a type="button" class="btn btn-success col-md-2 col-md-offset-1" id="btnGuardar">
    <span class="glyphicon glyphicon-ok"></span>
    Guardar Cambios
  </a>
</div>
