<h2>Cajas
  <a type="button" class="btn btn-primary col-md-2 pull-right" href="<%= con_obra? new_caja_path(situacion: 'efectivo') %>">
    <span class="glyphicon glyphicon-plus"></span>
    Nueva Caja
  </a>
</h2>
<div id="cajas">
  <%= render 'list', cajas: @cajas %>
</div>
<br>

<h2>Cuentas
  <a type="button" class="btn btn-primary col-md-2 pull-right" href="<%= con_obra? new_caja_path(situacion: 'banco') %>">
    <span class="glyphicon glyphicon-plus"></span>
    Nueva Cuenta
  </a>
</h2>
<div id="cuentas">
  <%= render 'list', cajas: @cuentas %>
</div>
<br>

<h2>Chequeras</h2>
<div id="chequeras">
  <%= render 'list', cajas: @chequeras %>
</div>
