<div class="row">
  <h2>Transferencia desde <%= @caja.descripcion %></h2>
</div>

<%= form_for @operacion, url: operar_caja_path(@caja), method: :patch do |f| %>
  <%= hidden_field_tag :operacion, :transferencia %>
  <%= f.hidden_field :caja_id %>

  <div class="row origen">
    <div class="field form-group col-md-1">
      <br>
      <label>Transferir</label>
    </div>

    <div class="field form-group col-md-2">
      <%= render 'layouts/selector_moneda', moneda: 'ARS', seleccion:'' %>
    </div>

    <div class="field form-group col-md-2">
      <label>Monto</label>
      <%= f.text_field :monto, class: "form-control text-right monto",
          data: { role: 'money', a_sep: '.', a_dec: ',' } %>
    </div>
  </div>

  <div class="row destino">
    <div class="field form-group col-md-1">
      <br>
      <label>A</label>
    </div>

    <div class="field form-group col-md-4">
      <%# TODO se puede transferir de cuentas a cajas de efectivo y viceversa, o
          se hace con depósitos y extracciones independientes? %>
      <%= render partial: 'layouts/selector_cajas', locals: {
          cajas: @caja.obra.cajas.where.not(situacion: 'chequeras').where.not(id: @caja.id),
          nombre: 'transferencia[caja_destino_id]' } %>
    </div>

    <div class="field form-group col-md-2" >
      <br>
      <%= f.submit 'Operar', class: 'btn btn-success nivelar-boton form-control' %>
    </div>
  </div>
  <br>

<% end %>
