<%# Pedido prestado de http://getbootstrap.com/examples/navbar-fixed-top/ %>
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Mostrar menú</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%= root_path %>"><i class="glyphicon glyphicon-home"></i></a>
    </div>

    <%# nota de diseño: menus desplegables para cada modulo del proyecto
        dentro del desplegable, primero se lista una seccion con las posibles operaciones
        luego, una segunda seccion listando los reportes preconfigurados/mas usuales %>

    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <%= render 'layouts/listado_obras' %>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Cobros y Pagos <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li class="dropdown-header">Operacion</li>
            <%# nota de diseño: los links no son definitivos ya que en este momento no existen las vistas.
                Necesitamos vistas que filtren las facturas/recibos por tipo cobro/pago %>
            <li><a href="<%= con_obra? pagos_facturas_path %>">Facturas por Pagar</a></li>
            <li><a href="<%= con_obra? pagos_recibos_path %>">Recibos de Pagos</a></li>
            <%# duda: existe un divider de linea discontinuada o diferente del utilizado mas abajo? %>
            <li class="divider"></li>
            <li><a href="<%= con_obra? cobros_facturas_path %>">Facturas por Cobrar</a></li>
            <li><a href="<%= con_obra? cobros_recibos_path %>">Recibos de Cobros</a></li>
          </ul>
        </li>

        <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Cajas y Bancos <b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li class="dropdown-header">Operacion</li>
            <li><a href="<%= con_obra? cajas_path %>">Cajas y Cuentas</a></li>
            <li><a href="<%= con_obra? cheques_path(situacion: 'propio') %>">Cheques Propios</a></li>
            <li><a href="<%= con_obra? cheques_path(situacion: 'terceros') %>">Cheques Terceros</a></li>
            <li><a href="<%= con_obra? cheques_path(vencidos: true) %>">Cheques Vencidos</a></li>
            <li><a href="<%= con_obra? cheques_path(depositados: true) %>">Cheques Depositados</a></li>
            <li><a href="<%= con_obra? retenciones_path %>">Retenciones</a></li>
            <li><a href="#">Transferencias</a></li>
            <li><a href="#">Cambios de Moneda</a></li>
          </ul>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Configuración <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li class="dropdown-header">Maestros</li>
            <li><a href="<%= obras_path %>">Obras</a></li>
            <li><a href="<%= terceros_path %>">Terceros</a></li>
          </ul>
        </li>

      </ul>

    </div>

  </div>

</div>
