<!DOCTYPE html>
<html lang='es'>
  <head>
    <title><%= titulo_de_la_aplicacion %></title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="La Inventoría">
    <meta charset="utf-8">
  </head>

  <body>
    <%= render 'layouts/barra_superior' %>

    <div class="container main-container">
      <%# Las vistas de los controladores se insertan acá en el +yield+ %>
      <%= yield %>
    </div>

  </body>
</html>
