<!DOCTYPE html>
<html lang='es'>
  <head>
    <title><%= titulo_de_la_aplicacion %></title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%# necesarios para autocompelte %>
    <%= javascript_include_tag 'autocomplete-rails.js', 'jquery-1.4.2.min.js', 'jquery-ui-1.8.4.custom.min.js', 'rails.js' %>
    <%= stylesheet_link_tag 'jquery-ui-1.8.4.custom.css' %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="La Inventoría">
    <meta charset="utf-8">
    <%# agregado para probar nested-layouts
        permite realizar ajustes al css del partial renderizado
        ej: ver listado de recibos en view/facturas/show.html.erb  %>
    <style><%= yield :stylesheets %></style>
  </head>

  <body>
    <%= render 'layouts/barra_superior' %>

    <div class="container main-container">
      <%# Las vistas de los controladores se insertan acá en el +yield+ %>
      <%= yield %>
    </div>

  </body>
</html>
